@model Glosy_TestCase.Models.Classes.Categories
@{
    ViewBag.Title = "AddNewCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Yeni Kategori Ekle</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br>
        <button class="btn btn-success">Ekle</button>
    </form>
</div>