@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-4">Haberler</h2>
<table class="table table-bordered mt-3" style="width:100%;" id="myDataTable">
    <thead>
        <tr>
            <th>Haber ID</th>
            <th>Yükleyen</th>
            <th>Kategori</th>
            <th>Başlık</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@ViewBag.Users[item.UserID - 3].Username</td>
                <td>@ViewBag.Categories[item.CategoryID].Name</td>
                <td>@item.Title</td>
                <td><a href="/Admin/GetNews/@item.ID" class="btn btn-primary">Güncelle</a></td>
                <td><a href="/Admin/DeleteNews/@item.ID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/AddNewNews" class="btn btn-primary">Yeni Haber Ekle</a>