@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-4">Kullanıcı Rolleri</h2>
<table class="table table-bordered mt-3" style="width:100%;" id="myDataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rol Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td><a href="/Admin/GetRole/@item.ID" class="btn btn-primary">Güncelle</a></td>
                <td><a href="/Admin/DeleteRole/@item.ID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/AddNewRole" class="btn btn-primary">Yeni Kullanıcı Rolü Ekle</a>