@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetki Yok</h2>

<p>Bu sayfaya erişmek için yetkiniz bulunmamaktadır! Lütfen yöneticinize başvurunuz.</p>